<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/cart">Cart</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/sidebar">Sidebar</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/products">Products</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>


    <div class="row">
        <div class="col-md-2">
            <div class="custom-sidebar">
                <div *ngFor="let item of listItems">
                    <a href="{{item.link}}" *ngIf="item.isNew!==true">{{item.name}}</a>
                    <a href="{{item.link}}" target="blank" *ngIf="item.isNew===true">{{item.name}}</a>
                </div>
                <hr>
                <div class="add-component-container">
                    <input class="form-control" type="text" [(ngModel)]="title" placeholder="Type title">
                    <input class="form-control" type="text" [(ngModel)]="url" placeholder="Type url">
                    <div class="col-md-10 offset-md-1">
                        <button class="btn btn-primary btn-block" (click)="add(title, url)">Add Link</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>
